{% extends "site_base.html" %}

{% load webdesign %}

{% block body_class %}blog{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css" />
{% endblock %}

{% block body %}
    <div class="grouping clear">
        <div class="main">
            {% block primary %}{% endblock %}
        </div>
        
        <div class="secondary">
            {% block secondary %}
                <h2>Sidebar</h2>
                {% lorem 1 p %}
            {% endblock %}
        </div>
    </div>
{% endblock %}